TOP SECTION
<section class='landing-page'>
  <!-- TOP SECTION HERO SPLASH IMAGE -->
  <div class='hero-splash'>
    <!-- CONTAINER FOR TEXT & BUTTONS  -->
    <div class='hero-splash__cta'>
      <div class='row'>
        <div class='columns small-12 small-centered'>
          <!-- WELCOME TEXT -->
          <div class='hero-splash__cta-text'>
            Welcome to the Adamski Family Reunion scrapbook. Sign up to post pictures
          </div>
        </div>
      </div>
      <!-- SIGNUP BUTTON CONTAINER -->
      <div class='row hero-splash__cta-signup-container'>
        <!-- 2nd BUTTON CONTAINER -->
        <div class='columns small-12 small-centered hero-splash__cta-signup-container__button-container'>
          <a href='http://localhost:3000/users/sign_in' class='btn'>
            <svg width='277' height='62'>
              <defs>
                <linearGradient id='grad1'>
                  <stop offset='0%' stop-color="#FF8282"/>
                  <stop offset="100%" stop-color="#E178ED" />
                </linerGradient>
              </defs>
              <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
            </svg>
            <!-- CTA BUTTON TEXT -->
            <span>Let's Get Started</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
