<!-- TOP SECTION -->
<section class='landing-page'>
  <!-- TOP SECTION HERO SPLASH IMAGE -->
  <div class='hero-splash'>
    <!-- CONTAINER FOR TEXT & BUTTONS  -->
    <div class='hero-splash__cta'>
      <div class='row'>
        <div class='columns small-12 small-centered'>
          <!-- WELCOME TEXT -->
          <div class='hero-splash__cta-text'>
            Welcome to the Adamski Family Reunion scrapbook. Sign up to post pictures
          </div>
        </div>
      </div>
      <% if !user_signed_in? %>
      <!-- Signup Button Container -->
      <div class='row hero-splash__cta-button-container'>
        <!-- Signup Button -->
        <div class='columns small-12 small-centered'>
          <a href='http://localhost:3000/users/sign_in' class='cta-button'>
            Let's Get Started
          </a>
        </div>
      </div>
      <% else %>
        <div class='row hero-splash__cta-button-container'>
          <div class='columns small-12 medium-6 small-centered'>
            <%= link_to 'View', photos_path, html_options = {class: 'cta-button'} %>
          </div>
          <div class='columns small-12 medium-6 small-centered'>
            <%= link_to 'Upload', new_photo_path, html_options = {class: 'cta-button'} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <!-- React component displaying most recent uploaded images -->
  <div id='app'></div>
</section>
