<!-- TOP SECTION -->
<section class='landing-page'>
  <!-- TOP SECTION HERO SPLASH IMAGE -->
  <div class='hero-splash'>
    <!-- CONTAINER FOR TEXT & BUTTONS  -->
    <div class='hero-splash__cta'>
      <div class='row'>
        <div class='columns small-12 small-centered'>
          <!-- USER IS |NOT| SIGNED IN -->
          <% if !user_signed_in? %>
            <!-- Hero Header Text - UN-Authenticated! -->
            <div class='hero-splash__cta-text'>
              Welcome!Sign up to post pictures
            </div>
            <!-- Signup Button Container -->
            <div class='row hero-splash__cta-button-container'>
              <!-- Signup Button -->
              <div class='columns small-12 small-centered'>
                <a href='http://localhost:3000/users/sign_in' class='cta-button'>
                  Let's Get Started
                </a>
              </div>
            </div>
          <!-- USER IS SIGNED IN -->
          <% else %>
            <!-- Hero Header Text - Authenticated-User -->
            <div class='hero-splash__cta-text'>
              Adamski Family Reunion 2017
            </div>
            <div class='row hero-splash__cta-button-container'>
              <div class='columns small-12 medium-6 small-centered'>
                <%= link_to 'View', photos_path, html_options = {class: 'cta-button'} %>
              </div>
            <div class='columns small-12 medium-6 small-centered'>
              <%= link_to 'Upload', new_photo_path, html_options = {class: 'cta-button'} %>
            </div>
          </div>
        <% end %>

        <div class='row hero-splash__cta-view-more'>
          <div class='columns small-12 small-centered text-center'>
            <a href='#recent-uploads'>
              <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='bumper-25'></div>

<section id='recent-uploads'>
  <!-- React component displaying most recent uploaded images -->
  <% if @all_photos.size > 0 %>
    <h1 class='text-center'> Most Recent Uploads </h1>
  <% else %>
    <h1 class='text-center'> Be the first to upload a photo! </h1>
  <% end %>

  <div class='bumper-25'></div>

  <div class='recent-uploads--container'>
    <% @plucked_photos.last(10).each do |thing| %>
    <div class='recent-uploads--wrapper'>
      <%= image_tag "#{thing.to_s}", class: 'recent-uploads--img' %>
    </div>
    <% end %>
  </div>
</section>
