<!-- TOP SECTION -->
<section class='landing-page'>
  <!-- TOP SECTION HERO SPLASH IMAGE -->
  <div class='hero-splash'>
    <!-- CONTAINER FOR TEXT & BUTTONS  -->
    <div class='hero-splash__cta'>
      <div class='row'>
        <div class='columns small-12 small-centered'>
          <!-- WELCOME TEXT -->
          <div class='hero-splash__cta-text'>
            Welcome to the Adamski Family Reunion scrapbook. Sign up to post pictures
          </div>
        </div>
      </div>
      <!-- SIGNUP BUTTON CONTAINER -->
      <div class='row hero-splash__cta-signup-container'>
        <!-- 2nd BUTTON CONTAINER -->
        <div class='columns small-12 small-centered'>
          <a href='http://localhost:3000/users/sign_in' class='btn btn-2'>
            Let's Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
