<section class='landing-page'>
  <div class='row hero-splash__cta-button-container'>
    <div class='columns small-12 medium-6 small-centered'>
      <%= link_to 'Photos', photos_path, html_options = {class: 'cta-button'} %>
    </div>
    <div class='columns small-12 medium-6 small-centered'>
      <%= link_to 'Family Members', users_path, html_options = {class: 'cta-button'} %>
    </div>
  </div>
</section>

<div class='bumper-25'></div>
<div class='bumper-25'></div>

<% if !@photos.nil? %>
  <div class='row small-up-1 medium-up-2 large-up-3'>
    <% @photos.each do |image| %>
      <div class='column column-block'>
        <div class='user-upload'>
          <div class='user-upload--img-wrapper'>
            <!-- <%= image_tag "#{image.photo}" %> -->
            <%= link_to image_tag("#{image.photo}"), photo_path(image.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <p> No Photos yet, check back soon though! </p>
<% end %>
