<h1><%= link_to 'Back to All Photos', photos_path %> </h1>

<div class='bumper-25'></div>

  <div class='row small-12 small-centered'>
    <%= image_tag "#{@photo.photo}" %>
  </div>

  <div class='bumper-100'></div>
