<div class='bumper-25'></div>

<div class='row'>
  <div class='columns small-12 text-center image-show'>
    <h1><%= link_to 'Back to All Photos', photos_path %> </h1>
  </div>
</div>

<div class='bumper-25'></div>

<div class='recent-uploads--container'>
  <% @photo.photos.each do |img| %>
    <div class='recent-uploads--wrapper'>
      <%= image_tag "#{img.url}" %>
    </div>
  <% end %>
</div>

  <div class='bumper-100'></div>
