.form {
  &--login {
    &__box {
      position: relative;
      border: 1px solid rgb(215,215,215);
      border-radius: 5px;
      box-shadow: 1px 1px 10px rgb(85,85,85);
      height: auto;
      margin: auto;
      width: 25%;
      padding: 2%;
      @media(max-width: 1024px) {
        width: 33%;
      }
      @media(max-width: 768px) {
        width: 50%;
      }
      @media(max-width: 425px) {
        width: 80%;
      }
      @media(max-width: 320px) {
        width: 90%;
      }
      &:hover {
    	  box-shadow: 1px 2px 20px rgb(85,85,85);
      }
    }
    &__submit {
      &-container {
        text-align: center;
      }
      &-button {
        appearance: none;
    		outline: 0;
    		background-color: #FBA100;
        border: 1px solid transparent;
    		border: 0;
    		padding: 10px 15px;
    		color: white;
    		border-radius: 3px;
    		width: 240px;
    		font-size: 18px;
    		transition-duration: 0.5s;
    		&:hover{
    			background-color: white;
          border: 1px solid black;
          color: #FBA100;
    		}
      }
    }
    &__facebook-btn {
      background-position: 25px 0px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      height: 50px;
  	  line-height: 50px;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;
  	  border-radius: 3px;
      margin: 10px auto;
      outline: rgb(255, 255, 255) none 0px;
      padding-left: 20%;
      transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  	  -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/facebook.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
      border: 1px solid rgb(60, 90, 154);
      span {
        box-sizing: border-box;
        color: rgb(60, 90, 154);
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border: 0px none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
      &:hover {
        border-color: rgb(60, 90, 154);
        background: rgb(60, 90, 154) url('https://eswarasai.com/projects/social-login/img/facebook-white.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
        span {
          color: #FFF;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
        }
      }
    }
    &__create-account {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 10px;
        outline: white none 0px;
        border: 1px solid rgb(251, 161, 0);
        font-size: 1.2em;
        text-decoration: none;
        &:hover{
    			background-color: white;
          border: 1px solid black;
          color: #FBA100;
          text-decoration: none;
    		}
      }
    }
  &--signup {
    &__box {
      position: relative;
      border: 1px solid rgb(215,215,215);
      border-radius: 5px;
      box-shadow: 1px 1px 10px rgb(85,85,85);
      height: auto;
      margin: auto;
      width: 33%;
      padding: 2%;
      @media(max-width: 1024px) {
        width: 41%;
      }
      @media(max-width: 768px) {
        width: 52%;
      }
      @media(max-width: 425px) {
        width: 91%;
      }
      &:hover {
    	  box-shadow: 1px 2px 20px rgb(85,85,85);
      }
    }
    &__field {
      text-transform: capitalize;
      .left {
        float: left;
        @media(max-width: 768px) {
          float: none;
        }
      }
      .right {
        float: right;
        @media(max-width: 768px) {
          float: none;
        }
      }
      &--email {
        clear: both
      }
    }
    &__submit {
      &-container {
        text-align: center;
      }
      &-button {
        appearance: none;
    		outline: 0;
    		background-color: #FBA100;
        border: 1px solid transparent;
    		border: 0;
    		padding: 10px 15px;
    		color: white;
    		border-radius: 3px;
    		width: 240px;
    		font-size: 18px;
    		transition-duration: 0.5s;
    		&:hover{
    			background-color: white;
          border: 1px solid black;
          color: #FBA100;
    		}
      }
    }
    &__facebook-btn {
      background-position: 25px 0px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      height: 50px;
  	  line-height: 50px;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;
  	  border-radius: 3px;
      margin: 10px auto;
      outline: rgb(255, 255, 255) none 0px;
      padding-left: 20%;
      transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  	  -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/facebook.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
      border: 1px solid rgb(60, 90, 154);
      span {
        box-sizing: border-box;
        color: rgb(60, 90, 154);
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border: 0px none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
      &:hover {
        border-color: rgb(60, 90, 154);
        background: rgb(60, 90, 154) url('https://eswarasai.com/projects/social-login/img/facebook-white.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
        span {
          color: #FFF;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
        }
      }
    }
  }
}
