.wrapper{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  .file-upload{
    height: 300px;
    width: 300px;
    border-radius: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #c5c5c5;
    overflow: hidden;
    background-color: rgb(136,136,136);
    transition: all 300ms;
    color: #FFFFFF;
    font-size: 150px;
    transition: all 100ms ease-in-out;
    input[type='file']{
      height:200px;
      width:200px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;
    }
    &:hover{
      transition: all 100ms ease-in-out;
      color: black;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 50px auto 0px;
    padding: 5px;
    z-index: 10;
    text-align: center;
    .button {
      color: #FBA100;
      display: block;
      font-size: 3em;
      line-height: 45px;
      margin: 0 auto;
      max-width: 550px;
      vertical-align: middle;
      width: 100%;
      letter-spacing: 0;
      text-shadow: 1px 1px black;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover,
      &:active {
        border-radius: 150px;
        transition: all 250ms ease-in-out;
      }
      &:after,
      &:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        top: 10px;
        content: " ";
        display: block;
        margin: 10px auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
      }
      &:hover:after,
      &:hover:before {
        backface-visibility: hidden;
        border-color: rgba(255,255,255,.65);
        transition: width 350ms ease-in-out;
        width: 75%;
      }
      &:hover:before {
        bottom: 10px;
        top: 0;
        width: 75%;
      }
    }
  }
}


// Image Show Page

.image-show {
  h1 {
    a {
      text-decoration: none;
      color: #FBA100;
      &:hover {
        text-decoration: none;
        color: #FBA100;
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .bumper-100--upload {
    height: 25px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper .button-container {
    margin: 25px auto 0px;
  }
}

@media screen and (min-width: 767px) {
  .bumper-100--upload {
    height: 100px;
  }
}

@media screen and (min-width: 767px) {
  .wrapper .button-container {
    margin: 50px auto 0px;
  }
}
