.login-form {
  &--box {
    position: relative;
    border: 1px solid rgb(215,215,215);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(85,85,85);
    height: auto;
    margin: auto;
    width: 25%;
    padding: 1%;
    @media(max-width: 1200px) {
      width: 50%;
    }
    @media(max-width: 760px) {
      width: 75%;
    }
    @media(max-width: 480px) {
      width: 85%;
    }
  }
  &--submit {
    &-container {
      text-align: center;
    }
    &-button {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid orange;
    }
  }
}
//
// input {
//   display: block;
// 	appearance: none;
// 	outline: 0;
// 	border: 1px solid fade(white, 40%);
// 	background-color: fade(white, 20%);
// 	width: 250px;
// 	border-radius: 3px;
// 	padding: 10px 15px;
// 	margin: 0 auto 10px auto;
// 	display: block;
// 	text-align: center;
// 	font-size: 18px;
// 	color: white;
// 	transition-duration: 0.25s;
// 	font-weight: 300;
// 	&:hover{
// 		background-color: fade(white, 40%);
// 	}
// 	&:focus{
// 		background-color: white;
// 		color: #53e3a6;
// 	}
// }
