@import "variables";

.landing-page {
  position: relative;
}

.top-bar {
  height: 6em;
  background-color: transparent;
  width: 100%;
  ul {
    background: none;
    margin-top: 6px;
  }
  .nav-logo {
    font-family: 'Tangerine';
    color: #B6A19E;
    font-size: 2.5em;
    line-height: 6em;
    vertical-align: center;
    background-color: transparent;
  }
  .right-nav {
    padding: 1em;
    background-color: transparent;
    .menu {
      text-align: -webkit-right;
    }
  }
}

.hero-image {
  height: 75vh;
  &::before {
    content: '';
    background-image: url('gradient.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
}
