.user-list {
  display: block;
  width: 100%;
  padding: 15px;
  overflow: hidden;
  &__all-users {
    padding: 15px;
    width: 33.3333333%;
    float: left;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    .user-card {
      display: block;
      overflow: hidden;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      box-shadow: 0px 0px 25px #cbcbcb;
      h2 {
        display: none;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        }
      img {
        width: 70px;
        height: 70px;
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
        border-radius: 100%;
      }
     &.active {
       border: 1px dotted #ddd;
      }
    }
  }
  &__active-user {
    float: left;
    width: 66.6666666%;
    padding: 15px;
    .user-card.active {
      background-color: #fff;
      margin-top: 10px;
      min-height: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      box-shadow: 0px 0px 25px #cbcbcb;
    }
  }
}
